In [45]:
import numpy as np 
import matplotlib.pyplot as plt     
import pandas as pd

In [46]:
df = pd.read_csv("./Data/charging_sessions.csv")

In [47]:
df.head()

,Unnamed: 0,id,connectionTime,disconnectTime,doneChargingTime,kWhDelivered,sessionID,siteID,spaceID,stationID,timezone,userID,userInputs
0,0,5e23b149f9af8b5fe4b973cf,2020-01-02 13:08:54+00:00,2020-01-02 19:11:15+00:00,2020-01-02 17:31:35+00:00,25.016,1_1_179_810_2020-01-02 13:08:53.870034,1,AG-3F30,1-1-179-810,America/Los_Angeles,194.0,"[{'WhPerMile': 250, 'kWhRequested': 25.0, 'mil..."
1,1,5e23b149f9af8b5fe4b973d0,2020-01-02 13:36:50+00:00,2020-01-02 22:38:21+00:00,2020-01-02 20:18:05+00:00,33.097,1_1_193_825_2020-01-02 13:36:49.599853,1,AG-1F01,1-1-193-825,America/Los_Angeles,4275.0,"[{'WhPerMile': 280, 'kWhRequested': 70.0, 'mil..."
2,2,5e23b149f9af8b5fe4b973d1,2020-01-02 13:56:35+00:00,2020-01-03 00:39:22+00:00,2020-01-02 16:35:06+00:00,6.521,1_1_193_829_2020-01-02 13:56:35.214993,1,AG-1F03,1-1-193-829,America/Los_Angeles,344.0,"[{'WhPerMile': 400, 'kWhRequested': 8.0, 'mile..."
3,3,5e23b149f9af8b5fe4b973d2,2020-01-02 13:59:58+00:00,2020-01-02 16:38:39+00:00,2020-01-02 15:18:45+00:00,2.355,1_1_193_820_2020-01-02 13:59:58.309319,1,AG-1F04,1-1-193-820,America/Los_Angeles,1117.0,"[{'WhPerMile': 400, 'kWhRequested': 8.0, 'mile..."
4,4,5e23b149f9af8b5fe4b973d3,2020-01-02 14:00:01+00:00,2020-01-02 22:08:40+00:00,2020-01-02 18:17:30+00:00,13.375,1_1_193_819_2020-01-02 14:00:00.779967,1,AG-1F06,1-1-193-819,America/Los_Angeles,334.0,"[{'WhPerMile': 400, 'kWhRequested': 16.0, 'mil..."

In [48]:
df.info()
# Abnormality: Column Unnamed: 0
# Todo: Remove column

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66450 entries, 0 to 66449
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        66450 non-null  int64
 1   id                66450 non-null  object
 2   connectionTime    66450 non-null  object
 3   disconnectTime    66450 non-null  object
 4   doneChargingTime  62362 non-null  object
 5   kWhDelivered      66450 non-null  float64
 6   sessionID         66450 non-null  object
 7   siteID            66450 non-null  int64
 8   spaceID           66450 non-null  object
 9   stationID         66450 non-null  object
 10  timezone          66450 non-null  object
 11  userID            49187 non-null  float64
 12  userInputs        49187 non-null  object
dtypes: float64(2), int64(2), object(9)
memory usage: 6.6+ MB

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66450 entries, 0 to 66449
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        66450 non-null  int64
 1   id                66450 non-null  object
 2   connectionTime    66450 non-null  object
 3   disconnectTime    66450 non-null  object
 4   doneChargingTime  62362 non-null  object
 5   kWhDelivered      66450 non-null  float64
 6   sessionID         66450 non-null  object
 7   siteID            66450 non-null  int64
 8   spaceID           66450 non-null  object
 9   stationID         66450 non-null  object
 10  timezone          66450 non-null  object
 11  userID            49187 non-null  float64
 12  userInputs        49187 non-null  object
dtypes: float64(2), int64(2), object(9)
memory usage: 6.6+ MB

(None,
    Unnamed: 0                        id             connectionTime  \
 0           0  5e23b149f9af8b5fe4b973cf  2020-01-02 13:08:54+00:00
 1           1  5e23b149f9af8b5fe4b973d0  2020-01-02 13:36:50+00:00
 2           2  5e23b149f9af8b5fe4b973d1  2020-01-02 13:56:35+00:00
 3           3  5e23b149f9af8b5fe4b973d2  2020-01-02 13:59:58+00:00
 4           4  5e23b149f9af8b5fe4b973d3  2020-01-02 14:00:01+00:00

               disconnectTime           doneChargingTime  kWhDelivered  \
 0  2020-01-02 19:11:15+00:00  2020-01-02 17:31:35+00:00        25.016
 1  2020-01-02 22:38:21+00:00  2020-01-02 20:18:05+00:00        33.097
 2  2020-01-03 00:39:22+00:00  2020-01-02 16:35:06+00:00         6.521
 3  2020-01-02 16:38:39+00:00  2020-01-02 15:18:45+00:00         2.355
 4  2020-01-02 22:08:40+00:00  2020-01-02 18:17:30+00:00        13.375

                                 sessionID  siteID  spaceID    stationID  \
 0  1_1_179_810_2020-01-02 13:08:53.870034       1  AG-3F30  1-1-179-810
 1  1_1_193_825_2020-01-02 13:36:49.599853       1  AG-1F01  1-1-193-825
 2  1_1_193_829_2020-01-02 13:56:35.214993       1  AG-1F03  1-1-193-829
 3  1_1_193_820_2020-01-02 13:59:58.309319       1  AG-1F04  1-1-193-820
 4  1_1_193_819_2020-01-02 14:00:00.779967       1  AG-1F06  1-1-193-819

               timezone  userID  \
 0  America/Los_Angeles   194.0
 1  America/Los_Angeles  4275.0
 2  America/Los_Angeles   344.0
 3  America/Los_Angeles  1117.0
 4  America/Los_Angeles   334.0

                                           userInputs
 0  [{'WhPerMile': 250, 'kWhRequested': 25.0, 'mil...
 1  [{'WhPerMile': 280, 'kWhRequested': 70.0, 'mil...
 2  [{'WhPerMile': 400, 'kWhRequested': 8.0, 'mile...
 3  [{'WhPerMile': 400, 'kWhRequested': 8.0, 'mile...
 4  [{'WhPerMile': 400, 'kWhRequested': 16.0, 'mil...  )

In [55]:
print(df.duplicated().sum())

0

In [50]:
df.isnull().any()
#Abnormality: The following columns have null values: doneChargingTime; userID; userInputs

Unnamed: 0          False
id                  False
connectionTime      False
disconnectTime      False
doneChargingTime     True
kWhDelivered        False
sessionID           False
siteID              False
spaceID             False
stationID           False
timezone            False
userID               True
userInputs           True
dtype: bool

In [51]:
df[df['doneChargingTime'].isna()==1]
#Abnormality: 4088 rows have doneChargingTime = NaN

,Unnamed: 0,id,connectionTime,disconnectTime,doneChargingTime,kWhDelivered,sessionID,siteID,spaceID,stationID,timezone,userID,userInputs
3756,3756,5ea3848df9af8b428bf97225,2020-04-08 16:36:53+00:00,2020-04-09 03:43:29+00:00,NaN,25.183,1_1_194_822_2020-04-08 16:36:53.316264,1,AG-1F12,1-1-194-822,America/Los_Angeles,507.0,"[{'WhPerMile': 250, 'kWhRequested': 75.0, 'mil..."
3757,3757,5ea4d60df9af8b46573f1ee7,2020-04-09 13:23:52+00:00,2020-04-09 17:59:02+00:00,NaN,14.136,1_1_193_827_2020-04-09 13:23:51.689520,1,AG-1F02,1-1-193-827,America/Los_Angeles,419.0,"[{'WhPerMile': 400, 'kWhRequested': 40.0, 'mil..."
3758,3758,5ea4d60df9af8b46573f1ee8,2020-04-09 13:40:03+00:00,2020-04-09 21:43:22+00:00,NaN,14.203,1_1_178_823_2020-04-09 13:39:55.115497,1,AG-1F08,1-1-178-823,America/Los_Angeles,5065.0,"[{'WhPerMile': 400, 'kWhRequested': 24.0, 'mil..."
3759,3759,5ea4d60df9af8b46573f1ee9,2020-04-09 14:01:53+00:00,2020-04-09 16:33:40+00:00,NaN,13.041,1_1_178_828_2020-04-09 14:01:53.467693,1,AG-1F10,1-1-178-828,America/Los_Angeles,651.0,"[{'WhPerMile': 400, 'kWhRequested': 20.0, 'mil..."
3760,3760,5ea4d60df9af8b46573f1eea,2020-04-09 15:01:06+00:00,2020-04-09 23:38:08+00:00,NaN,5.797,1_1_193_820_2020-04-09 15:01:06.343454,1,AG-1F04,1-1-193-820,America/Los_Angeles,466.0,"[{'WhPerMile': 300, 'kWhRequested': 6.0, 'mile..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...
60411,4049,5cb3d2a8f9af8b4551261e75,2019-03-30 00:32:10+00:00,2019-03-30 02:23:14+00:00,NaN,11.148,1_1_193_829_2019-03-30 00:32:10.128651,1,AG-1F03,1-1-193-829,America/Los_Angeles,194.0,"[{'WhPerMile': 400, 'kWhRequested': 24.0, 'mil..."
61097,4735,5cc8e891f9af8b45d975b819,2019-04-14 16:19:12+00:00,2019-04-14 20:38:39+00:00,NaN,11.678,1_1_193_816_2019-04-14 16:19:11.864262,1,AG-1F05,1-1-193-816,America/Los_Angeles,364.0,"[{'WhPerMile': 400, 'kWhRequested': 56.0, 'mil..."
61103,4741,5cca3a54f9af8b49aaa4cbac,2019-04-15 13:00:59+00:00,2019-04-15 13:55:25+00:00,NaN,3.343,1_1_193_819_2019-04-15 13:00:58.722284,1,AG-1F06,1-1-193-819,America/Los_Angeles,651.0,"[{'WhPerMile': 400, 'kWhRequested': 20.0, 'mil..."
61117,4755,5cca3a54f9af8b49aaa4cbba,2019-04-15 13:52:45+00:00,2019-04-15 14:47:01+00:00,NaN,4.558,1_1_179_800_2019-04-15 13:52:44.693153,1,AG-3F32,1-1-179-800,America/Los_Angeles,194.0,"[{'WhPerMile': 400, 'kWhRequested': 12.0, 'mil..."
65530,9168,5d3f8f96f9af8b7f97666a55,2019-07-13 20:13:18+00:00,2019-07-13 20:37:40+00:00,NaN,2.218,1_1_193_825_2019-07-13 20:13:18.490314,1,AG-1F01,1-1-193-825,America/Los_Angeles,76.0,"[{'WhPerMile': 301, 'kWhRequested': 9.03, 'mil..."

In [52]:
df[df['userID'].isna()==1]
#Abnormality: 17263 rows have userID = NaN 
#ToDo: fill rows with values where userID = NaN is true

,Unnamed: 0,id,connectionTime,disconnectTime,doneChargingTime,kWhDelivered,sessionID,siteID,spaceID,stationID,timezone,userID,userInputs
11,11,5e23b149f9af8b5fe4b973da,2020-01-02 15:04:38+00:00,2020-01-02 23:33:26+00:00,2020-01-02 22:48:48+00:00,0.812,1_1_194_818_2020-01-02 15:04:37.511153,1,AG-1F14,1-1-194-818,America/Los_Angeles,NaN,NaN
41,41,5e23b149f9af8b5fe4b973f8,2020-01-02 17:21:05+00:00,2020-01-02 20:10:40+00:00,2020-01-02 19:59:39+00:00,0.852,1_1_191_782_2020-01-02 17:21:04.799964,1,AG-4F50,1-1-191-782,America/Los_Angeles,NaN,NaN
180,180,5e2a48e8f9af8b75aed8e941,2020-01-07 14:31:09+00:00,2020-01-08 00:46:30+00:00,2020-01-07 15:07:06+00:00,0.847,1_1_179_800_2020-01-07 14:31:09.167002,1,AG-3F32,1-1-179-800,America/Los_Angeles,NaN,NaN
193,193,5e2a48e8f9af8b75aed8e94e,2020-01-07 15:00:25+00:00,2020-01-07 23:30:37+00:00,2020-01-07 22:54:11+00:00,0.735,1_1_179_779_2020-01-07 15:00:25.479475,1,AG-3F17,1-1-179-779,America/Los_Angeles,NaN,NaN
265,265,5e2b9a62f9af8b7d745b131d,2020-01-08 15:01:52+00:00,2020-01-08 19:01:39+00:00,2020-01-08 16:33:58+00:00,0.769,1_1_179_801_2020-01-08 15:01:51.810453,1,AG-3F21,1-1-179-801,America/Los_Angeles,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
66271,9909,5d54a7cff9af8b413ec70556,2019-07-29 13:46:52+00:00,2019-07-30 00:18:54+00:00,2019-07-30 00:08:24+00:00,1.489,1_1_179_800_2019-07-29 13:46:52.406411,1,AG-3F32,1-1-179-800,America/Los_Angeles,NaN,NaN
66316,9954,5d54a7cff9af8b413ec70583,2019-07-30 00:33:36+00:00,2019-07-30 00:56:04+00:00,2019-07-30 00:57:03+00:00,0.617,1_1_193_816_2019-07-30 00:33:35.796375,1,AG-1F05,1-1-193-816,America/Los_Angeles,NaN,NaN
66321,9959,5d55f950f9af8b45dfb3d876,2019-07-30 12:32:29+00:00,2019-07-31 01:55:43+00:00,2019-07-31 01:07:04+00:00,1.912,1_1_193_825_2019-07-30 12:32:29.095221,1,AG-1F01,1-1-193-825,America/Los_Angeles,NaN,NaN
66415,10053,5d574ad2f9af8b4c10c03634,2019-07-31 13:55:30+00:00,2019-07-31 22:32:00+00:00,2019-07-31 22:29:03+00:00,1.360,1_1_193_829_2019-07-31 13:55:30.138270,1,AG-1F03,1-1-193-829,America/Los_Angeles,NaN,NaN
66449,10087,5d574ad2f9af8b4c10c03656,2019-07-31 19:21:47+00:00,2019-07-31 22:00:04+00:00,2019-07-31 20:51:34+00:00,0.897,1_1_178_817_2019-07-31 19:21:46.727697,1,AG-1F09,1-1-178-817,America/Los_Angeles,NaN,NaN

In [53]:
df[df['userInputs'].isna()==1]
#Abnormality: 17263 rows have userInputs = NaN 
#ToDo: fill rows with values where userInputs = NaN is true

,Unnamed: 0,id,connectionTime,disconnectTime,doneChargingTime,kWhDelivered,sessionID,siteID,spaceID,stationID,timezone,userID,userInputs
11,11,5e23b149f9af8b5fe4b973da,2020-01-02 15:04:38+00:00,2020-01-02 23:33:26+00:00,2020-01-02 22:48:48+00:00,0.812,1_1_194_818_2020-01-02 15:04:37.511153,1,AG-1F14,1-1-194-818,America/Los_Angeles,NaN,NaN
41,41,5e23b149f9af8b5fe4b973f8,2020-01-02 17:21:05+00:00,2020-01-02 20:10:40+00:00,2020-01-02 19:59:39+00:00,0.852,1_1_191_782_2020-01-02 17:21:04.799964,1,AG-4F50,1-1-191-782,America/Los_Angeles,NaN,NaN
180,180,5e2a48e8f9af8b75aed8e941,2020-01-07 14:31:09+00:00,2020-01-08 00:46:30+00:00,2020-01-07 15:07:06+00:00,0.847,1_1_179_800_2020-01-07 14:31:09.167002,1,AG-3F32,1-1-179-800,America/Los_Angeles,NaN,NaN
193,193,5e2a48e8f9af8b75aed8e94e,2020-01-07 15:00:25+00:00,2020-01-07 23:30:37+00:00,2020-01-07 22:54:11+00:00,0.735,1_1_179_779_2020-01-07 15:00:25.479475,1,AG-3F17,1-1-179-779,America/Los_Angeles,NaN,NaN
265,265,5e2b9a62f9af8b7d745b131d,2020-01-08 15:01:52+00:00,2020-01-08 19:01:39+00:00,2020-01-08 16:33:58+00:00,0.769,1_1_179_801_2020-01-08 15:01:51.810453,1,AG-3F21,1-1-179-801,America/Los_Angeles,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
66271,9909,5d54a7cff9af8b413ec70556,2019-07-29 13:46:52+00:00,2019-07-30 00:18:54+00:00,2019-07-30 00:08:24+00:00,1.489,1_1_179_800_2019-07-29 13:46:52.406411,1,AG-3F32,1-1-179-800,America/Los_Angeles,NaN,NaN
66316,9954,5d54a7cff9af8b413ec70583,2019-07-30 00:33:36+00:00,2019-07-30 00:56:04+00:00,2019-07-30 00:57:03+00:00,0.617,1_1_193_816_2019-07-30 00:33:35.796375,1,AG-1F05,1-1-193-816,America/Los_Angeles,NaN,NaN
66321,9959,5d55f950f9af8b45dfb3d876,2019-07-30 12:32:29+00:00,2019-07-31 01:55:43+00:00,2019-07-31 01:07:04+00:00,1.912,1_1_193_825_2019-07-30 12:32:29.095221,1,AG-1F01,1-1-193-825,America/Los_Angeles,NaN,NaN
66415,10053,5d574ad2f9af8b4c10c03634,2019-07-31 13:55:30+00:00,2019-07-31 22:32:00+00:00,2019-07-31 22:29:03+00:00,1.360,1_1_193_829_2019-07-31 13:55:30.138270,1,AG-1F03,1-1-193-829,America/Los_Angeles,NaN,NaN
66449,10087,5d574ad2f9af8b4c10c03656,2019-07-31 19:21:47+00:00,2019-07-31 22:00:04+00:00,2019-07-31 20:51:34+00:00,0.897,1_1_178_817_2019-07-31 19:21:46.727697,1,AG-1F09,1-1-178-817,America/Los_Angeles,NaN,NaN

In [54]:
df.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
66445    False
66446    False
66447    False
66448    False
66449    False
Length: 66450, dtype: bool